@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Mali');

.SubmitAccountButton{
  color: white;
  background: palevioletred;
  font-family: 'Mali', cursive;
  font-size: 15px;
  padding: 10px;
  margin: 15px;
  margin-bottom: 3%;
}

.signup {
  font-family: 'Mali', cursive;
  margin: 8px;
  width: 25%;
  font-size: 15px;
  padding: 8px;
  border:2px solid peachpuff;
  border-radius: 10px;
}

.signup:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt peachpuff;
}

.policy {
  text-align: center;
}